@model DbFinal.Models.Category
@{

    ViewBag.Title = "Kategori Ekle";
}


<button type="submit"  onclick="window.location.href = 'CategoryList';" class="btn btn-warning float-right">Geri Dön</button>
<div class="row">


    <form method="post" action="/Home/CreateCategory">

        <div class="form-group">
            <label for="category_name">Kategori Adı :</label>
            <input type="text" class="form-control" name="categoryName" id="category_name" />
        </div>


        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>

</div>

