@model DbFinal.Models.Administrator
@{

    ViewBag.Title = "Giriş Yap";
    
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../../Content/logincss/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../Content/logincss/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../../Content/logincss/style.css">

    <title>Giriş Yap</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Giriş Yap</h3>
                            </div>

                            @{ 
                                if (@TempData["id"] == "0")
            {
                                    <div class="alert alert-danger">Hatalı giriş yaptınız. Lütfen tekrar deneyiniz.</div>
            }
                            }

                            <form action="/Login/LoginControl" method="post">
                                <div class="form-group first">
                                    <label for="administratorUsername">Username</label>
                                    <input type="text" class="form-control" name="administratorUsername" id="administratorUsername">
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="administratorPassword">Password</label>
                                    <input type="password" class="form-control" name="administratorPassword" id="administratorPassword">

                                </div>
                                <input type="submit" value="Log In" class="btn btn-block btn-primary">
                            </form>


                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/loginjs/jquery-3.3.1.min.js"></script>
    <script src="../../Scripts//popper.min.js"></script>
    <script src="../../Scripts/loginjs/bootstrap.min.js"></script>
    <script src="../../Scripts/loginjs/main.js"></script>
</body>
</html>
